.row {
  margin-top: 40px;
  
}

.list-btn {
  text-transform: capitalize;
  border: 2px solid #206802;
  background-color: #bcd1b3;
  padding: 16px 32px;
}

.pokemon-list.list-group {
  justify-content: center;
}

.list-group-item {
  background-color: #f7f7f7;
}


#titleModal {
  text-transform: capitalize;
}

.modal-body {
  text-transform: capitalize; 
}